#basic_info {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#basic_info td, #basic_info th {
  border: 1px solid #ddd;
  padding: 8px;
}

#basic_info tr:nth-child(even){background-color: #f2f2f2;}

#basic_info tr:hover {background-color: #ddd;}

#basic_info th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:black;
  color: white;
}

#heading {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}

// img {
//  max-width:100%;
//   border: 1px solid #ddd;
//   border-radius: 4px;
//   padding: 10px;
//   width: 10px;
//   length: 10px;
  
// }

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}

.premier_league {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.premier_league td, .premier_league th {
  border: 1px solid #ddd;
  padding: 8px;
}

.premier_league tr:nth-child(even){background-color: #f2f2f2;}

.premier_league tr:hover {background-color: #ddd;}

.premier_league th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:black;
  color: white;
}
